<b class="heading"><span style="font-size:120%">1</span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspGraphemes</b> &nbsp;<a href="#" class="help" title="Help" style="text-decoration:none" data-placement="right" data-toggle="modal" data-target="#helpmodal"><span class="glyphicon glyphicon-question-sign"></span></a><br>
<table class="patterns" style="font-family:robotoRegular">
    <tbody>
    <tr ng-hide="searchPatterns" ng-repeat="cols in defPatternRows | limitTo:4">
        <td style="font-family:robotoRegular" ng-repeat = "col in cols | limitTo:4" ng-click="choosePattern($event)">{{col}}</td>
    </tr>
    <tr ng-hide="!searchPatterns" ng-repeat="cols in patternRows | limitTo:4">
        <td style="font-family:robotoRegular" ng-repeat = "col in cols | filter:searchPatterns | limitTo:4" ng-click="choosePattern($event)">{{col}}</td>
    </tr>
    </tbody>
</table><br>
<div class="right-inner-addon">
    <i class="glyphicon glyphicon-search" style="color:#238d57"></i>
    <input class="inputform" style="font-family:dinLight" type="text" ng-change="resetPhonemes()" ng-model="searchPatterns" placeholder="Search Letter Pattern" />
</div>
<!--Help modal-->
<div align="center" class="modal fade" id="helpmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="helpModalLabel">Help</h4>
            </div>
            <div class="modal-body">
                <span ng-show="modalpage == 1">1</span>
                <span ng-show="modalpage == 2">2</span>
                <span ng-show="modalpage == 3">3</span>
                <span ng-show="modalpage == 4">4</span>
                <br>
                <ul class="pagination">
                    <li><a href="#" ng-click="modalpage = modalpage-1">&laquo;</a></li>
                    <li><a href="#" ng-click="modalpage = 1">1</a></li>
                    <li><a href="#" ng-click="modalpage = 2">2</a></li>
                    <li><a href="#" ng-click="modalpage = 3">3</a></li>
                    <li><a href="#" ng-click="modalpage = 4">4</a></li>
                    <li><a href="#" ng-click="modalpage = modalpage+1">&raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
